<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blocking Page</title>
    <link rel="stylesheet" href="/css/stylesBlocking.css">
</head>
<body>
    <script>
        window.checkNotification = <%- JSON.stringify(checkNotification) %>;
    </script>
    <header>
        <%- include partials/header %>
    </header>
    <main class="container">
        <h2>You have blocked this user:</h2>
        <img src="https://localhost:8080/<%= user.mainPhoto %>" alt="Blocked User Image">
        <p>Name: <%= user.firstName %></p>
        <p>To view this user's profile, you need to unblock them.</p>
        <button class="button" onclick="redirectToUser('unblock', '<%= user._id %>')">Разблокировать</button>
        <a href="/">Return to Home</a>
    </main>
    <footer>
        <%- include partials/footer %>
    </footer>
    <script>
        function redirectToUser(endPoint, userId) {
            window.location.href = `/${endPoint}/${userId}`;
        }
    </script>
</body>
</html>
